.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.transitionEnter {
  transform: scale(0);
}
.transitionEnterActive {
  transform: scale(1);
  transition: transform 1000ms ease;
}
.transitionExit {
  transform: scale(1);
}
.transitionExitActive {
  transform: scale(0);
  transition: transform 1000ms ease;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
